<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="./styles.css"> <!-- load css -->
    <link rel="stylesheet" href="./react-super-select.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"> <!-- load css -->

</head>
<body>
