
body {
	/*background: url("./abstract-mosaic-background.png");*/
	padding-top: 50px;
	background-color: white;
	background-size: contain;
}

.songListRow {
	background-color: #FAFAFA;
	margin-bottom: 25px;
	padding-left: 75px;
}

.songListRowTournament {
	background-color: black;
	/*margin-bottom: 25px;*/
	/*padding-left: 25px;*/
    opacity: 0.8;
    color: white;
}

.songTitle {
	font-weight: bold;
	padding-left: 10px;
}

.songCreator {
	font-weight: bold;
	padding-left: 10px;
}

h1 {
	color: #E0E0E0;
}

h2 {
	color: #E0E0E0;
}

.white {
	color: #E0E0E0;
}

h5 {
	color: #E0E0E0;
}

h3 {
    color: #E0E0E0;
}
.glyphicon {
  color: white;
}
/*General Button Stylings*/
button {
	color: white;
}

button:hover {
	color: lightcoral;
}

/*Collaboration Button Stylings*/
.collaborateButton {
	top: -12px;  
}

/*Comment Button Stylings*/
.comBut {
	margin-top: -25px
}

/*Website Title Stylings*/
.title {
	font-size: 30px;
	color: white;
	padding-left: 0px;}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
	top: -25px;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
	color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: red;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1.25s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.bioImages {
  display: block;
  width: auto;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 50%;
}

.userName {
	text-align: center;
}

.jumboPic {
	background: url('./assets/banner.jpg') no-repeat center center;
	position: fixed;
  width: 100%;
  height: 100%; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.tournament_background {
  background: url('./assets/Tupac.jpg') no-repeat center center;
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.rcorners {
    border-radius: 25px;
    border: 2px solid #424242;
    padding: 20px; 
    /*width: 200px;
    height: 150px;    */
}

.commentTitle {
    text-align: center;
    color: darkslategray;
}

.footerCol {
	background-color: #424242
}

.tagTitle {
	text-align: center;
}

.userUploadsTitle {
	color: #424242
}

.userProfileTitle {
	text-align: center;
}

.uploadBut {
	text-align: center;
}

.UserAvatar {
  display: inline-block;
  color: white;
}

.UserAvatar--inner {
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.UserAvatar--light {
  color: gray;
}

.UserAvatar--light .UserAvatar--inner {
  border: 1px solid lightgray;
}

/*.jumbotron {
  margin-bottom: 0px;
  height: 350px;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  background:transparent;
}*/



